<div class="homeStyle">
  <h1>
    Hello and Welcome to the XRP Ledger Explorer
  </h1>
  <div class="admin-page-content">
    <div class="navigation-container">
      <div class="nav-columns">
        <div class="nav-column">
          <app-action-card icon="../../assets/images/list-white.png" title="Explore Accounts" navigation="/accounts">
          </app-action-card>
        </div>

        <div class="nav-column">
          <app-action-card icon="../../assets/images/template-white.png" title="Explore Transactions"
            navigation="/transactions"></app-action-card>

        </div>

        <div class="nav-column">
          <app-action-card icon="../../assets/images/checklist.png" title="Explore Validators" navigation="/validators">
          </app-action-card>

        </div>

      </div>
      <div class="nav-columns">
        <div class="nav-column">
          <app-action-card icon="../../assets/images/talk-bubble-with-plus-sign-white.png" title="Not defined">
          </app-action-card>

        </div>

        <div class="nav-column">
          <app-action-card icon="../../assets/images/learning.png" title="Not defined"></app-action-card>
        </div>
        <div class="nav-column">
          <app-action-card icon="../../assets/images/brain.png" title="not defined"></app-action-card>

        </div>
      </div>
    </div>

  </div>

</div>
